/* Universal selector */
* {
    font-family: 'Courier New';
}

/* Element selector */
h1,
h3 {
    color: #b92b27 !important;
    /* very important style, not other applied for this element */
}

/* ID selector */
#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

/* Class selector */
.upvote {
    background-color: lightgreen;
}

/* Descendant selector */
.post a {
    color: purple;
    text-decoration: none;
    background-color: yellow;
}

nav ul li,
nav ul li a {
    color: #b92b27;
    text-decoration: none;
    font-weight: bold;
}

/* Adjacent Sibling Combinator */
p+h3 {
    text-decoration: underline;
}

.upvote+button {
    background-color: lightskyblue;
}

/* Child Combinator */
div>input {
    background-color: ghostwhite;
}

/* Attribute selector */
input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}

/* Pseudo Class */
button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: none;
}

button:active {
    background-color: palevioletred;
    color: black;
}

p:active {
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked+label {
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n) {
    background-color: blanchedalmond;
}

div:nth-of-type(2n-1) {
    background-color: aquamarine;
}

/* Pseudo Element */
h1::first-letter {
    color: black;
}

p::selection {
    background-color: yellowgreen;
}